psycopg2-binary
Flask==2.3.2
Flask-SQLAlchemy==3.1.1
PyMySQL==1.1.0
Flask-Login==0.6.3
Flask-Migrate==4.0.5
python-dotenv==1.0.1
Flask-JWT-Extended==4.6.0
Flask-Cors==4.0.0
cryptography==42.0.5
gunicorn
Flask_Mail
